.Article{
    display:flex;
    flex-direction:column;
    max-width: 500px; 
    padding:20px;
    border-radius: 20px;
    
}

.photo{
    width:500px;
    height: 400px;
    border-radius: 20px;
}

h2{
    color: rgb(23, 22, 22);
    font-weight: bolder;
    font-size: 30px;
    margin-top: 3px;
  }

  .Article .details {
    display: flex;
    gap: 20px;
    color: gray;
    font-size: 20px;
  }
p{
    margin-top:-15px;
    color: rgb(100, 99, 99);
    font-size: smaller;
}